/* Header */

#header {
  text-align: center;
  background-color: @blue;
  padding: 44px 0 0;
  border-bottom: 1px solid #555;
}

#header h1 {
  font-size: 48px;
  // letter-spacing: 4px;
  // text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.sub {
  margin-left: 8px;
  color: @gray;
  position: absolute;
  font-size: 11px;
  z-index: 1;
  margin-left: 16px;
  margin-top: 1px;

  &:before {
    content: '\e0f3';
    color: #fff;
    z-index: -1;
    font-family: 'typicons';
    font-style: normal;
    font-weight: normal;
    speak: none;
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 48px;
    margin-left: -13px;
    margin-top: 1px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

.btn .typcn {
  margin-right: 0.5em;
}

#header .desc {
  font-size: 24px;
}

#icon-changer {
  font-family: "Typicons";
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  vertical-align: middle;
}