#preview.clearfix
  .icon(data-name='adjust-brightness', data-code='0xe000', data-match=' adjust brightness ')
    span.typcn.typcn-adjust-brightness
  .icon(data-name='adjust-contrast', data-code='0xe001', data-match=' adjust contrast ')
    span.typcn.typcn-adjust-contrast
  .icon(data-name='anchor-outline', data-code='0xe002', data-match=' anchor outline ')
    span.typcn.typcn-anchor-outline
  .icon(data-name='anchor', data-code='0xe003', data-match=' anchor ')
    span.typcn.typcn-anchor
  .icon(data-name='archive', data-code='0xe004', data-match=' archive ')
    span.typcn.typcn-archive
  .icon(data-name='arrow-back-outline', data-code='0xe005', data-match=' arrow back outline ')
    span.typcn.typcn-arrow-back-outline
  .icon(data-name='arrow-back', data-code='0xe006', data-match=' arrow back ')
    span.typcn.typcn-arrow-back
  .icon(data-name='arrow-down-outline', data-code='0xe007', data-match=' arrow down outline ')
    span.typcn.typcn-arrow-down-outline
  .icon(data-name='arrow-down-thick', data-code='0xe008', data-match=' arrow down thick ')
    span.typcn.typcn-arrow-down-thick
  .icon(data-name='arrow-down', data-code='0xe009', data-match=' arrow down ')
    span.typcn.typcn-arrow-down
  .icon(data-name='arrow-forward-outline', data-code='0xe00a', data-match=' arrow forward outline ')
    span.typcn.typcn-arrow-forward-outline
  .icon(data-name='arrow-forward', data-code='0xe00b', data-match=' arrow forward ')
    span.typcn.typcn-arrow-forward
  .icon(data-name='arrow-left-outline', data-code='0xe00c', data-match=' arrow left outline ')
    span.typcn.typcn-arrow-left-outline
  .icon(data-name='arrow-left-thick', data-code='0xe00d', data-match=' arrow left thick ')
    span.typcn.typcn-arrow-left-thick
  .icon(data-name='arrow-left', data-code='0xe00e', data-match=' arrow left ')
    span.typcn.typcn-arrow-left
  .icon(data-name='arrow-loop-outline', data-code='0xe00f', data-match=' arrow loop outline ')
    span.typcn.typcn-arrow-loop-outline
  .icon(data-name='arrow-loop', data-code='0xe010', data-match=' arrow loop ')
    span.typcn.typcn-arrow-loop
  .icon(data-name='arrow-maximise-outline', data-code='0xe011', data-match=' arrow maximise outline ')
    span.typcn.typcn-arrow-maximise-outline
  .icon(data-name='arrow-maximise', data-code='0xe012', data-match=' arrow maximise ')
    span.typcn.typcn-arrow-maximise
  .icon(data-name='arrow-minimise-outline', data-code='0xe013', data-match=' arrow minimise outline ')
    span.typcn.typcn-arrow-minimise-outline
  .icon(data-name='arrow-minimise', data-code='0xe014', data-match=' arrow minimise ')
    span.typcn.typcn-arrow-minimise
  .icon(data-name='arrow-move-outline', data-code='0xe015', data-match=' arrow move outline ')
    span.typcn.typcn-arrow-move-outline
  .icon(data-name='arrow-move', data-code='0xe016', data-match=' arrow move ')
    span.typcn.typcn-arrow-move
  .icon(data-name='arrow-repeat-outline', data-code='0xe017', data-match=' arrow repeat outline ')
    span.typcn.typcn-arrow-repeat-outline
  .icon(data-name='arrow-repeat', data-code='0xe018', data-match=' arrow repeat ')
    span.typcn.typcn-arrow-repeat
  .icon(data-name='arrow-right-outline', data-code='0xe019', data-match=' arrow right outline ')
    span.typcn.typcn-arrow-right-outline
  .icon(data-name='arrow-right-thick', data-code='0xe01a', data-match=' arrow right thick ')
    span.typcn.typcn-arrow-right-thick
  .icon(data-name='arrow-right', data-code='0xe01b', data-match=' arrow right ')
    span.typcn.typcn-arrow-right
  .icon(data-name='arrow-shuffle', data-code='0xe01c', data-match=' arrow shuffle ')
    span.typcn.typcn-arrow-shuffle
  .icon(data-name='arrow-sync-outline', data-code='0xe01d', data-match=' arrow sync outline ')
    span.typcn.typcn-arrow-sync-outline
  .icon(data-name='arrow-sync', data-code='0xe01e', data-match=' arrow sync ')
    span.typcn.typcn-arrow-sync
  .icon(data-name='arrow-up-outline', data-code='0xe01f', data-match=' arrow up outline ')
    span.typcn.typcn-arrow-up-outline
  .icon(data-name='arrow-up-thick', data-code='0xe020', data-match=' arrow up thick ')
    span.typcn.typcn-arrow-up-thick
  .icon(data-name='arrow-up', data-code='0xe021', data-match=' arrow up ')
    span.typcn.typcn-arrow-up
  .icon(data-name='at', data-code='0xe022', data-match=' at ')
    span.typcn.typcn-at
  .icon(data-name='attachment-outline', data-code='0xe023', data-match=' attachment outline ')
    span.typcn.typcn-attachment-outline
  .icon(data-name='attachment', data-code='0xe024', data-match=' attachment ')
    span.typcn.typcn-attachment
  .icon(data-name='backspace-outline', data-code='0xe025', data-match=' backspace outline ')
    span.typcn.typcn-backspace-outline
  .icon(data-name='backspace', data-code='0xe026', data-match=' backspace ')
    span.typcn.typcn-backspace
  .icon(data-name='battery-charge', data-code='0xe027', data-match=' battery charge ')
    span.typcn.typcn-battery-charge
  .icon(data-name='battery-full', data-code='0xe028', data-match=' battery full ')
    span.typcn.typcn-battery-full
  .icon(data-name='battery-high', data-code='0xe029', data-match=' battery high ')
    span.typcn.typcn-battery-high
  .icon(data-name='battery-low', data-code='0xe02a', data-match=' battery low ')
    span.typcn.typcn-battery-low
  .icon(data-name='battery-mid', data-code='0xe02b', data-match=' battery mid ')
    span.typcn.typcn-battery-mid
  .icon(data-name='beaker', data-code='0xe02c', data-match=' beaker ')
    span.typcn.typcn-beaker
  .icon(data-name='beer', data-code='0xe02d', data-match=' beer ')
    span.typcn.typcn-beer
  .icon(data-name='bell', data-code='0xe02e', data-match=' bell ')
    span.typcn.typcn-bell
  .icon(data-name='book', data-code='0xe02f', data-match=' book ')
    span.typcn.typcn-book
  .icon(data-name='bookmark', data-code='0xe030', data-match=' bookmark ')
    span.typcn.typcn-bookmark
  .icon(data-name='briefcase', data-code='0xe031', data-match=' briefcase ')
    span.typcn.typcn-briefcase
  .icon(data-name='brush', data-code='0xe032', data-match=' brush ')
    span.typcn.typcn-brush
  .icon(data-name='business-card', data-code='0xe033', data-match=' business card ')
    span.typcn.typcn-business-card
  .icon(data-name='calculator', data-code='0xe034', data-match=' calculator ')
    span.typcn.typcn-calculator
  .icon(data-name='calender-outline', data-code='0xe035', data-match=' calender outline ')
    span.typcn.typcn-calender-outline
  .icon(data-name='calender', data-code='0xe036', data-match=' calender ')
    span.typcn.typcn-calender
  .icon(data-name='camera-outline', data-code='0xe037', data-match=' camera outline ')
    span.typcn.typcn-camera-outline
  .icon(data-name='camera', data-code='0xe038', data-match=' camera ')
    span.typcn.typcn-camera
  .icon(data-name='cancel-outline', data-code='0xe039', data-match=' cancel outline ')
    span.typcn.typcn-cancel-outline
  .icon(data-name='cancel', data-code='0xe03a', data-match=' cancel ')
    span.typcn.typcn-cancel
  .icon(data-name='chart-area-outline', data-code='0xe03b', data-match=' chart area outline ')
    span.typcn.typcn-chart-area-outline
  .icon(data-name='chart-area', data-code='0xe03c', data-match=' chart area ')
    span.typcn.typcn-chart-area
  .icon(data-name='chart-bar-outline', data-code='0xe03d', data-match=' chart bar outline ')
    span.typcn.typcn-chart-bar-outline
  .icon(data-name='chart-bar', data-code='0xe03e', data-match=' chart bar ')
    span.typcn.typcn-chart-bar
  .icon(data-name='chart-line-outline', data-code='0xe03f', data-match=' chart line outline ')
    span.typcn.typcn-chart-line-outline
  .icon(data-name='chart-line', data-code='0xe040', data-match=' chart line ')
    span.typcn.typcn-chart-line
  .icon(data-name='chart-pie-outline', data-code='0xe041', data-match=' chart pie outline ')
    span.typcn.typcn-chart-pie-outline
  .icon(data-name='chart-pie', data-code='0xe042', data-match=' chart pie ')
    span.typcn.typcn-chart-pie
  .icon(data-name='chevron-left-outline', data-code='0xe043', data-match=' chevron left outline ')
    span.typcn.typcn-chevron-left-outline
  .icon(data-name='chevron-left', data-code='0xe044', data-match=' chevron left ')
    span.typcn.typcn-chevron-left
  .icon(data-name='chevron-right-outline', data-code='0xe045', data-match=' chevron right outline ')
    span.typcn.typcn-chevron-right-outline
  .icon(data-name='chevron-right', data-code='0xe046', data-match=' chevron right ')
    span.typcn.typcn-chevron-right
  .icon(data-name='clipboard', data-code='0xe047', data-match=' clipboard ')
    span.typcn.typcn-clipboard
  .icon(data-name='cloud-storage', data-code='0xe048', data-match=' cloud storage ')
    span.typcn.typcn-cloud-storage
  .icon(data-name='code-outline', data-code='0xe049', data-match=' code outline ')
    span.typcn.typcn-code-outline
  .icon(data-name='code', data-code='0xe04a', data-match=' code ')
    span.typcn.typcn-code
  .icon(data-name='coffee', data-code='0xe04b', data-match=' coffee ')
    span.typcn.typcn-coffee
  .icon(data-name='cog-outline', data-code='0xe04c', data-match=' cog outline ')
    span.typcn.typcn-cog-outline
  .icon(data-name='cog', data-code='0xe04d', data-match=' cog ')
    span.typcn.typcn-cog
  .icon(data-name='compass', data-code='0xe04e', data-match=' compass ')
    span.typcn.typcn-compass
  .icon(data-name='contacts', data-code='0xe04f', data-match=' contacts ')
    span.typcn.typcn-contacts
  .icon(data-name='credit-card', data-code='0xe050', data-match=' credit card ')
    span.typcn.typcn-credit-card
  .icon(data-name='cross', data-code='0xe051', data-match=' cross ')
    span.typcn.typcn-cross
  .icon(data-name='database', data-code='0xe052', data-match=' database ')
    span.typcn.typcn-database
  .icon(data-name='delete-outline', data-code='0xe053', data-match=' delete outline ')
    span.typcn.typcn-delete-outline
  .icon(data-name='delete', data-code='0xe054', data-match=' delete ')
    span.typcn.typcn-delete
  .icon(data-name='device-desktop', data-code='0xe055', data-match=' device desktop ')
    span.typcn.typcn-device-desktop
  .icon(data-name='device-laptop', data-code='0xe056', data-match=' device laptop ')
    span.typcn.typcn-device-laptop
  .icon(data-name='device-phone', data-code='0xe057', data-match=' device phone ')
    span.typcn.typcn-device-phone
  .icon(data-name='device-tablet', data-code='0xe058', data-match=' device tablet ')
    span.typcn.typcn-device-tablet
  .icon(data-name='directions', data-code='0xe059', data-match=' directions ')
    span.typcn.typcn-directions
  .icon(data-name='divide-outline', data-code='0xe05a', data-match=' divide outline ')
    span.typcn.typcn-divide-outline
  .icon(data-name='divide', data-code='0xe05b', data-match=' divide ')
    span.typcn.typcn-divide
  .icon(data-name='document-add', data-code='0xe05c', data-match=' document add ')
    span.typcn.typcn-document-add
  .icon(data-name='document-delete', data-code='0xe05d', data-match=' document delete ')
    span.typcn.typcn-document-delete
  .icon(data-name='document-text', data-code='0xe05e', data-match=' document text ')
    span.typcn.typcn-document-text
  .icon(data-name='document', data-code='0xe05f', data-match=' document ')
    span.typcn.typcn-document
  .icon(data-name='download-outline', data-code='0xe060', data-match=' download outline ')
    span.typcn.typcn-download-outline
  .icon(data-name='download', data-code='0xe061', data-match=' download ')
    span.typcn.typcn-download
  .icon(data-name='edit', data-code='0xe062', data-match=' edit ')
    span.typcn.typcn-edit
  .icon(data-name='eject-outline', data-code='0xe063', data-match=' eject outline ')
    span.typcn.typcn-eject-outline
  .icon(data-name='eject', data-code='0xe064', data-match=' eject ')
    span.typcn.typcn-eject
  .icon(data-name='equals-outline', data-code='0xe065', data-match=' equals outline ')
    span.typcn.typcn-equals-outline
  .icon(data-name='equals', data-code='0xe066', data-match=' equals ')
    span.typcn.typcn-equals
  .icon(data-name='export-outline', data-code='0xe067', data-match=' export outline ')
    span.typcn.typcn-export-outline
  .icon(data-name='export', data-code='0xe068', data-match=' export ')
    span.typcn.typcn-export
  .icon(data-name='eye-outline', data-code='0xe069', data-match=' eye outline ')
    span.typcn.typcn-eye-outline
  .icon(data-name='eye', data-code='0xe06a', data-match=' eye ')
    span.typcn.typcn-eye
  .icon(data-name='feather', data-code='0xe06b', data-match=' feather ')
    span.typcn.typcn-feather
  .icon(data-name='film', data-code='0xe06c', data-match=' film ')
    span.typcn.typcn-film
  .icon(data-name='flag-outline', data-code='0xe06d', data-match=' flag outline ')
    span.typcn.typcn-flag-outline
  .icon(data-name='flag', data-code='0xe06e', data-match=' flag ')
    span.typcn.typcn-flag
  .icon(data-name='flash-outline', data-code='0xe06f', data-match=' flash outline ')
    span.typcn.typcn-flash-outline
  .icon(data-name='flash', data-code='0xe070', data-match=' flash ')
    span.typcn.typcn-flash
  .icon(data-name='flow-children', data-code='0xe071', data-match=' flow children ')
    span.typcn.typcn-flow-children
  .icon(data-name='flow-merge', data-code='0xe072', data-match=' flow merge ')
    span.typcn.typcn-flow-merge
  .icon(data-name='flow-parallel', data-code='0xe073', data-match=' flow parallel ')
    span.typcn.typcn-flow-parallel
  .icon(data-name='flow-switch', data-code='0xe074', data-match=' flow switch ')
    span.typcn.typcn-flow-switch
  .icon(data-name='folder-add', data-code='0xe075', data-match=' folder add ')
    span.typcn.typcn-folder-add
  .icon(data-name='folder-delete', data-code='0xe076', data-match=' folder delete ')
    span.typcn.typcn-folder-delete
  .icon(data-name='folder', data-code='0xe077', data-match=' folder ')
    span.typcn.typcn-folder
  .icon(data-name='gift', data-code='0xe078', data-match=' gift ')
    span.typcn.typcn-gift
  .icon(data-name='globe-outline', data-code='0xe079', data-match=' globe outline ')
    span.typcn.typcn-globe-outline
  .icon(data-name='globe', data-code='0xe07a', data-match=' globe ')
    span.typcn.typcn-globe
  .icon(data-name='group-outline', data-code='0xe07b', data-match=' group outline ')
    span.typcn.typcn-group-outline
  .icon(data-name='group', data-code='0xe07c', data-match=' group ')
    span.typcn.typcn-group
  .icon(data-name='headphones', data-code='0xe07d', data-match=' headphones ')
    span.typcn.typcn-headphones
  .icon(data-name='heart-outline', data-code='0xe07e', data-match=' heart outline ')
    span.typcn.typcn-heart-outline
  .icon(data-name='heart', data-code='0xe07f', data-match=' heart ')
    span.typcn.typcn-heart
  .icon(data-name='home-outline', data-code='0xe080', data-match=' home outline ')
    span.typcn.typcn-home-outline
  .icon(data-name='home', data-code='0xe081', data-match=' home ')
    span.typcn.typcn-home
  .icon(data-name='image-outline', data-code='0xe082', data-match=' image outline ')
    span.typcn.typcn-image-outline
  .icon(data-name='image', data-code='0xe083', data-match=' image ')
    span.typcn.typcn-image
  .icon(data-name='infinity-outline', data-code='0xe084', data-match=' infinity outline ')
    span.typcn.typcn-infinity-outline
  .icon(data-name='infinity', data-code='0xe085', data-match=' infinity ')
    span.typcn.typcn-infinity
  .icon(data-name='info-large-outline', data-code='0xe086', data-match=' info large outline ')
    span.typcn.typcn-info-large-outline
  .icon(data-name='info-large', data-code='0xe087', data-match=' info large ')
    span.typcn.typcn-info-large
  .icon(data-name='info-outline', data-code='0xe088', data-match=' info outline ')
    span.typcn.typcn-info-outline
  .icon(data-name='info', data-code='0xe089', data-match=' info ')
    span.typcn.typcn-info
  .icon(data-name='input-checked-outline', data-code='0xe08a', data-match=' input checked outline ')
    span.typcn.typcn-input-checked-outline
  .icon(data-name='input-checked', data-code='0xe08b', data-match=' input checked ')
    span.typcn.typcn-input-checked
  .icon(data-name='key-outline', data-code='0xe08c', data-match=' key outline ')
    span.typcn.typcn-key-outline
  .icon(data-name='key', data-code='0xe08d', data-match=' key ')
    span.typcn.typcn-key
  .icon(data-name='leaf', data-code='0xe08e', data-match=' leaf ')
    span.typcn.typcn-leaf
  .icon(data-name='lightbulb', data-code='0xe08f', data-match=' lightbulb ')
    span.typcn.typcn-lightbulb
  .icon(data-name='link-outline', data-code='0xe090', data-match=' link outline ')
    span.typcn.typcn-link-outline
  .icon(data-name='link', data-code='0xe091', data-match=' link ')
    span.typcn.typcn-link
  .icon(data-name='location-arrow-outline', data-code='0xe092', data-match=' location arrow outline ')
    span.typcn.typcn-location-arrow-outline
  .icon(data-name='location-arrow', data-code='0xe093', data-match=' location arrow ')
    span.typcn.typcn-location-arrow
  .icon(data-name='location-outline', data-code='0xe094', data-match=' location outline ')
    span.typcn.typcn-location-outline
  .icon(data-name='location', data-code='0xe095', data-match=' location ')
    span.typcn.typcn-location
  .icon(data-name='lock-closed-outline', data-code='0xe096', data-match=' lock closed outline ')
    span.typcn.typcn-lock-closed-outline
  .icon(data-name='lock-closed', data-code='0xe097', data-match=' lock closed ')
    span.typcn.typcn-lock-closed
  .icon(data-name='lock-open-outline', data-code='0xe098', data-match=' lock open outline ')
    span.typcn.typcn-lock-open-outline
  .icon(data-name='lock-open', data-code='0xe099', data-match=' lock open ')
    span.typcn.typcn-lock-open
  .icon(data-name='mail', data-code='0xe09a', data-match=' mail ')
    span.typcn.typcn-mail
  .icon(data-name='map', data-code='0xe09b', data-match=' map ')
    span.typcn.typcn-map
  .icon(data-name='media-eject-outline', data-code='0xe09c', data-match=' media eject outline ')
    span.typcn.typcn-media-eject-outline
  .icon(data-name='media-eject', data-code='0xe09d', data-match=' media eject ')
    span.typcn.typcn-media-eject
  .icon(data-name='media-fast-forward-outline', data-code='0xe09e', data-match=' media fast forward outline ')
    span.typcn.typcn-media-fast-forward-outline
  .icon(data-name='media-fast-forward', data-code='0xe09f', data-match=' media fast forward ')
    span.typcn.typcn-media-fast-forward
  .icon(data-name='media-pause-outline', data-code='0xe0a0', data-match=' media pause outline ')
    span.typcn.typcn-media-pause-outline
  .icon(data-name='media-pause', data-code='0xe0a1', data-match=' media pause ')
    span.typcn.typcn-media-pause
  .icon(data-name='media-play-outline', data-code='0xe0a2', data-match=' media play outline ')
    span.typcn.typcn-media-play-outline
  .icon(data-name='media-play', data-code='0xe0a3', data-match=' media play ')
    span.typcn.typcn-media-play
  .icon(data-name='media-record-outline', data-code='0xe0a4', data-match=' media record outline ')
    span.typcn.typcn-media-record-outline
  .icon(data-name='media-record', data-code='0xe0a5', data-match=' media record ')
    span.typcn.typcn-media-record
  .icon(data-name='media-rewind-outline', data-code='0xe0a6', data-match=' media rewind outline ')
    span.typcn.typcn-media-rewind-outline
  .icon(data-name='media-rewind', data-code='0xe0a7', data-match=' media rewind ')
    span.typcn.typcn-media-rewind
  .icon(data-name='media-stop-outline', data-code='0xe0a8', data-match=' media stop outline ')
    span.typcn.typcn-media-stop-outline
  .icon(data-name='media-stop', data-code='0xe0a9', data-match=' media stop ')
    span.typcn.typcn-media-stop
  .icon(data-name='message-typing', data-code='0xe0aa', data-match=' message typing ')
    span.typcn.typcn-message-typing
  .icon(data-name='message', data-code='0xe0ab', data-match=' message ')
    span.typcn.typcn-message
  .icon(data-name='messages', data-code='0xe0ac', data-match=' messages ')
    span.typcn.typcn-messages
  .icon(data-name='microphone-outline', data-code='0xe0ad', data-match=' microphone outline ')
    span.typcn.typcn-microphone-outline
  .icon(data-name='microphone', data-code='0xe0ae', data-match=' microphone ')
    span.typcn.typcn-microphone
  .icon(data-name='minus-outline', data-code='0xe0af', data-match=' minus outline ')
    span.typcn.typcn-minus-outline
  .icon(data-name='minus', data-code='0xe0b0', data-match=' minus ')
    span.typcn.typcn-minus
  .icon(data-name='news', data-code='0xe0b1', data-match=' news ')
    span.typcn.typcn-news
  .icon(data-name='notes-outline', data-code='0xe0b2', data-match=' notes outline ')
    span.typcn.typcn-notes-outline
  .icon(data-name='notes', data-code='0xe0b3', data-match=' notes ')
    span.typcn.typcn-notes
  .icon(data-name='pen', data-code='0xe0b4', data-match=' pen ')
    span.typcn.typcn-pen
  .icon(data-name='pencil', data-code='0xe0b5', data-match=' pencil ')
    span.typcn.typcn-pencil
  .icon(data-name='phone-outline', data-code='0xe0b6', data-match=' phone outline ')
    span.typcn.typcn-phone-outline
  .icon(data-name='phone', data-code='0xe0b7', data-match=' phone ')
    span.typcn.typcn-phone
  .icon(data-name='pi-outline', data-code='0xe0b8', data-match=' pi outline ')
    span.typcn.typcn-pi-outline
  .icon(data-name='pi', data-code='0xe0b9', data-match=' pi ')
    span.typcn.typcn-pi
  .icon(data-name='pin-outline', data-code='0xe0ba', data-match=' pin outline ')
    span.typcn.typcn-pin-outline
  .icon(data-name='pin', data-code='0xe0bb', data-match=' pin ')
    span.typcn.typcn-pin
  .icon(data-name='pipette', data-code='0xe0bc', data-match=' pipette ')
    span.typcn.typcn-pipette
  .icon(data-name='plane-outline', data-code='0xe0bd', data-match=' plane outline ')
    span.typcn.typcn-plane-outline
  .icon(data-name='plane', data-code='0xe0be', data-match=' plane ')
    span.typcn.typcn-plane
  .icon(data-name='plug', data-code='0xe0bf', data-match=' plug ')
    span.typcn.typcn-plug
  .icon(data-name='plus-outline', data-code='0xe0c0', data-match=' plus outline ')
    span.typcn.typcn-plus-outline
  .icon(data-name='plus', data-code='0xe0c1', data-match=' plus ')
    span.typcn.typcn-plus
  .icon(data-name='point-of-interest-outline', data-code='0xe0c2', data-match=' point of interest outline ')
    span.typcn.typcn-point-of-interest-outline
  .icon(data-name='point-of-interest', data-code='0xe0c3', data-match=' point of interest ')
    span.typcn.typcn-point-of-interest
  .icon(data-name='power-outline', data-code='0xe0c4', data-match=' power outline ')
    span.typcn.typcn-power-outline
  .icon(data-name='power', data-code='0xe0c5', data-match=' power ')
    span.typcn.typcn-power
  .icon(data-name='printer', data-code='0xe0c6', data-match=' printer ')
    span.typcn.typcn-printer
  .icon(data-name='puzzle-outline', data-code='0xe0c7', data-match=' puzzle outline ')
    span.typcn.typcn-puzzle-outline
  .icon(data-name='puzzle', data-code='0xe0c8', data-match=' puzzle ')
    span.typcn.typcn-puzzle
  .icon(data-name='radar-outline', data-code='0xe0c9', data-match=' radar outline ')
    span.typcn.typcn-radar-outline
  .icon(data-name='radar', data-code='0xe0ca', data-match=' radar ')
    span.typcn.typcn-radar
  .icon(data-name='refresh-outline', data-code='0xe0cb', data-match=' refresh outline ')
    span.typcn.typcn-refresh-outline
  .icon(data-name='refresh', data-code='0xe0cc', data-match=' refresh ')
    span.typcn.typcn-refresh
  .icon(data-name='rss-outline', data-code='0xe0cd', data-match=' rss outline ')
    span.typcn.typcn-rss-outline
  .icon(data-name='rss', data-code='0xe0ce', data-match=' rss ')
    span.typcn.typcn-rss
  .icon(data-name='scissors-outline', data-code='0xe0cf', data-match=' scissors outline ')
    span.typcn.typcn-scissors-outline
  .icon(data-name='scissors', data-code='0xe0d0', data-match=' scissors ')
    span.typcn.typcn-scissors
  .icon(data-name='shopping-bag', data-code='0xe0d1', data-match=' shopping bag ')
    span.typcn.typcn-shopping-bag
  .icon(data-name='shopping-cart', data-code='0xe0d2', data-match=' shopping cart ')
    span.typcn.typcn-shopping-cart
  .icon(data-name='social-at-circular', data-code='0xe0d3', data-match=' social at circular ')
    span.typcn.typcn-social-at-circular
  .icon(data-name='social-dribbble-circular', data-code='0xe0d4', data-match=' social dribbble circular ')
    span.typcn.typcn-social-dribbble-circular
  .icon(data-name='social-dribbble', data-code='0xe0d5', data-match=' social dribbble ')
    span.typcn.typcn-social-dribbble
  .icon(data-name='social-facebook-circular', data-code='0xe0d6', data-match=' social facebook circular ')
    span.typcn.typcn-social-facebook-circular
  .icon(data-name='social-facebook', data-code='0xe0d7', data-match=' social facebook ')
    span.typcn.typcn-social-facebook
  .icon(data-name='social-flickr-circular', data-code='0xe0d8', data-match=' social flickr circular ')
    span.typcn.typcn-social-flickr-circular
  .icon(data-name='social-flickr', data-code='0xe0d9', data-match=' social flickr ')
    span.typcn.typcn-social-flickr
  .icon(data-name='social-github-circular', data-code='0xe0da', data-match=' social github circular ')
    span.typcn.typcn-social-github-circular
  .icon(data-name='social-github', data-code='0xe0db', data-match=' social github ')
    span.typcn.typcn-social-github
  .icon(data-name='social-last-fm-circular', data-code='0xe0dc', data-match=' social last fm circular ')
    span.typcn.typcn-social-last-fm-circular
  .icon(data-name='social-last-fm', data-code='0xe0dd', data-match=' social last fm ')
    span.typcn.typcn-social-last-fm
  .icon(data-name='social-linkedin-circular', data-code='0xe0de', data-match=' social linkedin circular ')
    span.typcn.typcn-social-linkedin-circular
  .icon(data-name='social-linkedin', data-code='0xe0df', data-match=' social linkedin ')
    span.typcn.typcn-social-linkedin
  .icon(data-name='social-pinterest-circular', data-code='0xe0e0', data-match=' social pinterest circular ')
    span.typcn.typcn-social-pinterest-circular
  .icon(data-name='social-pinterest', data-code='0xe0e1', data-match=' social pinterest ')
    span.typcn.typcn-social-pinterest
  .icon(data-name='social-skype-outline', data-code='0xe0e2', data-match=' social skype outline ')
    span.typcn.typcn-social-skype-outline
  .icon(data-name='social-skype', data-code='0xe0e3', data-match=' social skype ')
    span.typcn.typcn-social-skype
  .icon(data-name='social-tumbler-circular', data-code='0xe0e4', data-match=' social tumbler circular ')
    span.typcn.typcn-social-tumbler-circular
  .icon(data-name='social-tumbler', data-code='0xe0e5', data-match=' social tumbler ')
    span.typcn.typcn-social-tumbler
  .icon(data-name='social-twitter-circular', data-code='0xe0e6', data-match=' social twitter circular ')
    span.typcn.typcn-social-twitter-circular
  .icon(data-name='social-twitter', data-code='0xe0e7', data-match=' social twitter ')
    span.typcn.typcn-social-twitter
  .icon(data-name='social-vimeo-circular', data-code='0xe0e8', data-match=' social vimeo circular ')
    span.typcn.typcn-social-vimeo-circular
  .icon(data-name='social-vimeo', data-code='0xe0e9', data-match=' social vimeo ')
    span.typcn.typcn-social-vimeo
  .icon(data-name='sort-alphabetically-outline', data-code='0xe0ea', data-match=' sort alphabetically outline ')
    span.typcn.typcn-sort-alphabetically-outline
  .icon(data-name='sort-alphabetically', data-code='0xe0eb', data-match=' sort alphabetically ')
    span.typcn.typcn-sort-alphabetically
  .icon(data-name='sort-numerically-outline', data-code='0xe0ec', data-match=' sort numerically outline ')
    span.typcn.typcn-sort-numerically-outline
  .icon(data-name='sort-numerically', data-code='0xe0ed', data-match=' sort numerically ')
    span.typcn.typcn-sort-numerically
  .icon(data-name='spanner-outline', data-code='0xe0ee', data-match=' spanner outline ')
    span.typcn.typcn-spanner-outline
  .icon(data-name='spanner', data-code='0xe0ef', data-match=' spanner ')
    span.typcn.typcn-spanner
  .icon(data-name='star-outline', data-code='0xe0f0', data-match=' star outline ')
    span.typcn.typcn-star-outline
  .icon(data-name='star', data-code='0xe0f1', data-match=' star ')
    span.typcn.typcn-star
  .icon(data-name='starburst-outline', data-code='0xe0f2', data-match=' starburst outline ')
    span.typcn.typcn-starburst-outline
  .icon(data-name='starburst', data-code='0xe0f3', data-match=' starburst ')
    span.typcn.typcn-starburst
  .icon(data-name='stopwatch', data-code='0xe0f4', data-match=' stopwatch ')
    span.typcn.typcn-stopwatch
  .icon(data-name='support', data-code='0xe0f5', data-match=' support ')
    span.typcn.typcn-support
  .icon(data-name='tabs-outline', data-code='0xe0f6', data-match=' tabs outline ')
    span.typcn.typcn-tabs-outline
  .icon(data-name='tag', data-code='0xe0f7', data-match=' tag ')
    span.typcn.typcn-tag
  .icon(data-name='tags', data-code='0xe0f8', data-match=' tags ')
    span.typcn.typcn-tags
  .icon(data-name='th-large-outline', data-code='0xe0f9', data-match=' th large outline ')
    span.typcn.typcn-th-large-outline
  .icon(data-name='th-large', data-code='0xe0fa', data-match=' th large ')
    span.typcn.typcn-th-large
  .icon(data-name='th-list-outline', data-code='0xe0fb', data-match=' th list outline ')
    span.typcn.typcn-th-list-outline
  .icon(data-name='th-list', data-code='0xe0fc', data-match=' th list ')
    span.typcn.typcn-th-list
  .icon(data-name='th-menu-outline', data-code='0xe0fd', data-match=' th menu outline ')
    span.typcn.typcn-th-menu-outline
  .icon(data-name='th-menu', data-code='0xe0fe', data-match=' th menu ')
    span.typcn.typcn-th-menu
  .icon(data-name='th-small-outline', data-code='0xe0ff', data-match=' th small outline ')
    span.typcn.typcn-th-small-outline
  .icon(data-name='th-small', data-code='0xe100', data-match=' th small ')
    span.typcn.typcn-th-small
  .icon(data-name='thermometer', data-code='0xe101', data-match=' thermometer ')
    span.typcn.typcn-thermometer
  .icon(data-name='thumbs-down', data-code='0xe102', data-match=' thumbs down ')
    span.typcn.typcn-thumbs-down
  .icon(data-name='thumbs-up', data-code='0xe103', data-match=' thumbs up ')
    span.typcn.typcn-thumbs-up
  .icon(data-name='tick-outline', data-code='0xe104', data-match=' tick outline ')
    span.typcn.typcn-tick-outline
  .icon(data-name='tick', data-code='0xe105', data-match=' tick ')
    span.typcn.typcn-tick
  .icon(data-name='ticket', data-code='0xe106', data-match=' ticket ')
    span.typcn.typcn-ticket
  .icon(data-name='time', data-code='0xe107', data-match=' time ')
    span.typcn.typcn-time
  .icon(data-name='times-outline', data-code='0xe108', data-match=' times outline ')
    span.typcn.typcn-times-outline
  .icon(data-name='times', data-code='0xe109', data-match=' times ')
    span.typcn.typcn-times
  .icon(data-name='trash', data-code='0xe10a', data-match=' trash ')
    span.typcn.typcn-trash
  .icon(data-name='tree', data-code='0xe10b', data-match=' tree ')
    span.typcn.typcn-tree
  .icon(data-name='upload-outline', data-code='0xe10c', data-match=' upload outline ')
    span.typcn.typcn-upload-outline
  .icon(data-name='upload', data-code='0xe10d', data-match=' upload ')
    span.typcn.typcn-upload
  .icon(data-name='user-add-outline', data-code='0xe10e', data-match=' user add outline ')
    span.typcn.typcn-user-add-outline
  .icon(data-name='user-add', data-code='0xe10f', data-match=' user add ')
    span.typcn.typcn-user-add
  .icon(data-name='user-delete-outline', data-code='0xe110', data-match=' user delete outline ')
    span.typcn.typcn-user-delete-outline
  .icon(data-name='user-delete', data-code='0xe111', data-match=' user delete ')
    span.typcn.typcn-user-delete
  .icon(data-name='user-outline', data-code='0xe112', data-match=' user outline ')
    span.typcn.typcn-user-outline
  .icon(data-name='user', data-code='0xe113', data-match=' user ')
    span.typcn.typcn-user
  .icon(data-name='video-outline', data-code='0xe114', data-match=' video outline ')
    span.typcn.typcn-video-outline
  .icon(data-name='video', data-code='0xe115', data-match=' video ')
    span.typcn.typcn-video
  .icon(data-name='volume-down', data-code='0xe116', data-match=' volume down ')
    span.typcn.typcn-volume-down
  .icon(data-name='volume-mute', data-code='0xe117', data-match=' volume mute ')
    span.typcn.typcn-volume-mute
  .icon(data-name='volume-up', data-code='0xe118', data-match=' volume up ')
    span.typcn.typcn-volume-up
  .icon(data-name='volume', data-code='0xe119', data-match=' volume ')
    span.typcn.typcn-volume
  .icon(data-name='warning-outline', data-code='0xe11a', data-match=' warning outline ')
    span.typcn.typcn-warning-outline
  .icon(data-name='warning', data-code='0xe11b', data-match=' warning ')
    span.typcn.typcn-warning
  .icon(data-name='watch', data-code='0xe11c', data-match=' watch ')
    span.typcn.typcn-watch
  .icon(data-name='waves-outline', data-code='0xe11d', data-match=' waves outline ')
    span.typcn.typcn-waves-outline
  .icon(data-name='waves', data-code='0xe11e', data-match=' waves ')
    span.typcn.typcn-waves
  .icon(data-name='weather-cloudy', data-code='0xe11f', data-match=' weather cloudy ')
    span.typcn.typcn-weather-cloudy
  .icon(data-name='weather-downpour', data-code='0xe120', data-match=' weather downpour ')
    span.typcn.typcn-weather-downpour
  .icon(data-name='weather-night', data-code='0xe121', data-match=' weather night ')
    span.typcn.typcn-weather-night
  .icon(data-name='weather-partly-sunny', data-code='0xe122', data-match=' weather partly sunny ')
    span.typcn.typcn-weather-partly-sunny
  .icon(data-name='weather-shower', data-code='0xe123', data-match=' weather shower ')
    span.typcn.typcn-weather-shower
  .icon(data-name='weather-snow', data-code='0xe124', data-match=' weather snow ')
    span.typcn.typcn-weather-snow
  .icon(data-name='weather-stormy', data-code='0xe125', data-match=' weather stormy ')
    span.typcn.typcn-weather-stormy
  .icon(data-name='weather-sunny', data-code='0xe126', data-match=' weather sunny ')
    span.typcn.typcn-weather-sunny
  .icon(data-name='weather-windy-cloudy', data-code='0xe127', data-match=' weather windy cloudy ')
    span.typcn.typcn-weather-windy-cloudy
  .icon(data-name='weather-windy', data-code='0xe128', data-match=' weather windy ')
    span.typcn.typcn-weather-windy
  .icon(data-name='wi-fi-outline', data-code='0xe129', data-match=' wi fi outline ')
    span.typcn.typcn-wi-fi-outline
  .icon(data-name='wi-fi', data-code='0xe12a', data-match=' wi fi ')
    span.typcn.typcn-wi-fi
  .icon(data-name='wine', data-code='0xe12b', data-match=' wine ')
    span.typcn.typcn-wine
  .icon(data-name='world-outline', data-code='0xe12c', data-match=' world outline ')
    span.typcn.typcn-world-outline
  .icon(data-name='world', data-code='0xe12d', data-match=' world ')
    span.typcn.typcn-world
  .icon(data-name='zoom-in-outline', data-code='0xe12e', data-match=' zoom in outline ')
    span.typcn.typcn-zoom-in-outline
  .icon(data-name='zoom-in', data-code='0xe12f', data-match=' zoom in ')
    span.typcn.typcn-zoom-in
  .icon(data-name='zoom-out-outline', data-code='0xe130', data-match=' zoom out outline ')
    span.typcn.typcn-zoom-out-outline
  .icon(data-name='zoom-out', data-code='0xe131', data-match=' zoom out ')
    span.typcn.typcn-zoom-out
  .icon(data-name='zoom-outline', data-code='0xe132', data-match=' zoom outline ')
    span.typcn.typcn-zoom-outline
  .icon(data-name='zoom', data-code='0xe133', data-match=' zoom ')
    span.typcn.typcn-zoom

.search-box
  label(for='search')
    span.typcn.typcn-zoom
  input#search(type='text', placeholder="Search")
  span#result Search for a specific icon by its name or keywords. Tap/hover to see more details.