#preview.clearfix
      .icon
        i.typcn.typcn-adjust-contrast
        span.i-name adjust-contrast
        span.i-code 0x2710
      .icon
        i.typcn.typcn-anchor
        span.i-name anchor
        span.i-code 0x2711
      .icon
        i.typcn.typcn-archive
        span.i-name archive
        span.i-code 0x2712
      .icon
        i.typcn.typcn-arrow-back
        span.i-name arrow-back
        span.i-code 0x2713
      .icon
        i.typcn.typcn-arrow-down
        span.i-name arrow-down
        span.i-code 0x2714
      .icon
        i.typcn.typcn-arrow-forward
        span.i-name arrow-forward
        span.i-code 0x2715
      .icon
        i.typcn.typcn-arrow-left
        span.i-name arrow-left
        span.i-code 0x2716
      .icon
        i.typcn.typcn-arrow-line-down
        span.i-name arrow-line-down
        span.i-code 0x2717
      .icon
        i.typcn.typcn-arrow-line-left
        span.i-name arrow-line-left
        span.i-code 0x2718
      .icon
        i.typcn.typcn-arrow-line-right
        span.i-name arrow-line-right
        span.i-code 0x2719
      .icon
        i.typcn.typcn-arrow-line-up
        span.i-name arrow-line-up
        span.i-code 0x271a
      .icon
        i.typcn.typcn-arrow-loop
        span.i-name arrow-loop
        span.i-code 0x271b
      .icon
        i.typcn.typcn-arrow-maximise
        span.i-name arrow-maximise
        span.i-code 0x271c
      .icon
        i.typcn.typcn-arrow-merge
        span.i-name arrow-merge
        span.i-code 0x271d
      .icon
        i.typcn.typcn-arrow-minimise
        span.i-name arrow-minimise
        span.i-code 0x271e
      .icon
        i.typcn.typcn-arrow-move
        span.i-name arrow-move
        span.i-code 0x271f
      .icon
        i.typcn.typcn-arrow-repeat
        span.i-name arrow-repeat
        span.i-code 0x2720
      .icon
        i.typcn.typcn-arrow-right
        span.i-name arrow-right
        span.i-code 0x2721
      .icon
        i.typcn.typcn-arrow-shuffle
        span.i-name arrow-shuffle
        span.i-code 0x2722
      .icon
        i.typcn.typcn-arrow-split
        span.i-name arrow-split
        span.i-code 0x2723
      .icon
        i.typcn.typcn-arrow-sync
        span.i-name arrow-sync
        span.i-code 0x2724
      .icon
        i.typcn.typcn-arrow-up
        span.i-name arrow-up
        span.i-code 0x2725
      .icon
        i.typcn.typcn-at
        span.i-name at
        span.i-code 0x2726
      .icon
        i.typcn.typcn-attachment
        span.i-name attachment
        span.i-code 0x2727
      .icon
        i.typcn.typcn-backspace
        span.i-name backspace
        span.i-code 0x2728
      .icon
        i.typcn.typcn-battery-charge
        span.i-name battery-charge
        span.i-code 0x2729
      .icon
        i.typcn.typcn-battery-full
        span.i-name battery-full
        span.i-code 0x272a
      .icon
        i.typcn.typcn-battery-high
        span.i-name battery-high
        span.i-code 0x272b
      .icon
        i.typcn.typcn-battery-low
        span.i-name battery-low
        span.i-code 0x272c
      .icon
        i.typcn.typcn-battery-mid
        span.i-name battery-mid
        span.i-code 0x272d
      .icon
        i.typcn.typcn-beaker
        span.i-name beaker
        span.i-code 0x272e
      .icon
        i.typcn.typcn-beer
        span.i-name beer
        span.i-code 0x272f
      .icon
        i.typcn.typcn-bell
        span.i-name bell
        span.i-code 0x2730
      .icon
        i.typcn.typcn-book
        span.i-name book
        span.i-code 0x2731
      .icon
        i.typcn.typcn-bookmark
        span.i-name bookmark
        span.i-code 0x2732
      .icon
        i.typcn.typcn-briefcase
        span.i-name briefcase
        span.i-code 0x2733
      .icon
        i.typcn.typcn-brush
        span.i-name brush
        span.i-code 0x2734
      .icon
        i.typcn.typcn-business-card
        span.i-name business-card
        span.i-code 0x2735
      .icon
        i.typcn.typcn-calculator
        span.i-name calculator
        span.i-code 0x2736
      .icon
        i.typcn.typcn-calender
        span.i-name calender
        span.i-code 0x2737
      .icon
        i.typcn.typcn-camera
        span.i-name camera
        span.i-code 0x2738
      .icon
        i.typcn.typcn-chart-area
        span.i-name chart-area
        span.i-code 0x2739
      .icon
        i.typcn.typcn-chart-bar
        span.i-name chart-bar
        span.i-code 0x273a
      .icon
        i.typcn.typcn-chart-line
        span.i-name chart-line
        span.i-code 0x273b
      .icon
        i.typcn.typcn-chart-pie
        span.i-name chart-pie
        span.i-code 0x273c
      .icon
        i.typcn.typcn-chat-typing
        span.i-name chat-typing
        span.i-code 0x273d
      .icon
        i.typcn.typcn-chevron-left
        span.i-name chevron-left
        span.i-code 0x273e
      .icon
        i.typcn.typcn-chevron-right
        span.i-name chevron-right
        span.i-code 0x273f
      .icon
        i.typcn.typcn-clipboard
        span.i-name clipboard
        span.i-code 0x2740
      .icon
        i.typcn.typcn-cloud-storage
        span.i-name cloud-storage
        span.i-code 0x2741
      .icon
        i.typcn.typcn-code
        span.i-name code
        span.i-code 0x2742
      .icon
        i.typcn.typcn-coffee
        span.i-name coffee
        span.i-code 0x2743
      .icon
        i.typcn.typcn-cog
        span.i-name cog
        span.i-code 0x2744
      .icon
        i.typcn.typcn-compass
        span.i-name compass
        span.i-code 0x2745
      .icon
        i.typcn.typcn-contacts
        span.i-name contacts
        span.i-code 0x2746
      .icon
        i.typcn.typcn-credit-card
        span.i-name credit-card
        span.i-code 0x2747
      .icon
        i.typcn.typcn-database
        span.i-name database
        span.i-code 0x2748
      .icon
        i.typcn.typcn-delete
        span.i-name delete
        span.i-code 0x2749
      .icon
        i.typcn.typcn-device-desktop
        span.i-name device-desktop
        span.i-code 0x274a
      .icon
        i.typcn.typcn-device-laptop
        span.i-name device-laptop
        span.i-code 0x274b
      .icon
        i.typcn.typcn-device-phone
        span.i-name device-phone
        span.i-code 0x274c
      .icon
        i.typcn.typcn-device-tablet
        span.i-name device-tablet
        span.i-code 0x274d
      .icon
        i.typcn.typcn-directions
        span.i-name directions
        span.i-code 0x274e
      .icon
        i.typcn.typcn-divide
        span.i-name divide
        span.i-code 0x274f
      .icon
        i.typcn.typcn-document-add
        span.i-name document-add
        span.i-code 0x2750
      .icon
        i.typcn.typcn-document-delete
        span.i-name document-delete
        span.i-code 0x2751
      .icon
        i.typcn.typcn-document-text
        span.i-name document-text
        span.i-code 0x2752
      .icon
        i.typcn.typcn-document
        span.i-name document
        span.i-code 0x2753
      .icon
        i.typcn.typcn-download
        span.i-name download
        span.i-code 0x2754
      .icon
        i.typcn.typcn-edit
        span.i-name edit
        span.i-code 0x2755
      .icon
        i.typcn.typcn-eject
        span.i-name eject
        span.i-code 0x2756
      .icon
        i.typcn.typcn-equals
        span.i-name equals
        span.i-code 0x2757
      .icon
        i.typcn.typcn-export
        span.i-name export
        span.i-code 0x2758
      .icon
        i.typcn.typcn-eye
        span.i-name eye
        span.i-code 0x2759
      .icon
        i.typcn.typcn-feather
        span.i-name feather
        span.i-code 0x275a
      .icon
        i.typcn.typcn-film
        span.i-name film
        span.i-code 0x275b
      .icon
        i.typcn.typcn-flag
        span.i-name flag
        span.i-code 0x275c
      .icon
        i.typcn.typcn-flash
        span.i-name flash
        span.i-code 0x275d
      .icon
        i.typcn.typcn-folder-add
        span.i-name folder-add
        span.i-code 0x275e
      .icon
        i.typcn.typcn-folder-delete
        span.i-name folder-delete
        span.i-code 0x275f
      .icon
        i.typcn.typcn-folder
        span.i-name folder
        span.i-code 0x2760
      .icon
        i.typcn.typcn-gift
        span.i-name gift
        span.i-code 0x2761
      .icon
        i.typcn.typcn-globe
        span.i-name globe
        span.i-code 0x2762
      .icon
        i.typcn.typcn-group
        span.i-name group
        span.i-code 0x2763
      .icon
        i.typcn.typcn-headphones
        span.i-name headphones
        span.i-code 0x2764
      .icon
        i.typcn.typcn-heart
        span.i-name heart
        span.i-code 0x2765
      .icon
        i.typcn.typcn-home
        span.i-name home
        span.i-code 0x2766
      .icon
        i.typcn.typcn-image
        span.i-name image
        span.i-code 0x2767
      .icon
        i.typcn.typcn-infinity
        span.i-name infinity
        span.i-code 0x2768
      .icon
        i.typcn.typcn-info-large
        span.i-name info-large
        span.i-code 0x2769
      .icon
        i.typcn.typcn-info
        span.i-name info
        span.i-code 0x276a
      .icon
        i.typcn.typcn-input-checked
        span.i-name input-checked
        span.i-code 0x276b
      .icon
        i.typcn.typcn-key
        span.i-name key
        span.i-code 0x276c
      .icon
        i.typcn.typcn-leaf
        span.i-name leaf
        span.i-code 0x276d
      .icon
        i.typcn.typcn-lightbulb
        span.i-name lightbulb
        span.i-code 0x276e
      .icon
        i.typcn.typcn-link
        span.i-name link
        span.i-code 0x276f
      .icon
        i.typcn.typcn-location-services
        span.i-name location-services
        span.i-code 0x2770
      .icon
        i.typcn.typcn-lock-closed
        span.i-name lock-closed
        span.i-code 0x2771
      .icon
        i.typcn.typcn-lock-open
        span.i-name lock-open
        span.i-code 0x2772
      .icon
        i.typcn.typcn-mail
        span.i-name mail
        span.i-code 0x2773
      .icon
        i.typcn.typcn-map-location
        span.i-name map-location
        span.i-code 0x2774
      .icon
        i.typcn.typcn-map
        span.i-name map
        span.i-code 0x2775
      .icon
        i.typcn.typcn-media-eject
        span.i-name media-eject
        span.i-code 0x2776
      .icon
        i.typcn.typcn-media-fast-forward
        span.i-name media-fast-forward
        span.i-code 0x2777
      .icon
        i.typcn.typcn-media-play
        span.i-name media-play
        span.i-code 0x2778
      .icon
        i.typcn.typcn-media-record
        span.i-name media-record
        span.i-code 0x2779
      .icon
        i.typcn.typcn-media-rewind
        span.i-name media-rewind
        span.i-code 0x277a
      .icon
        i.typcn.typcn-media-stop
        span.i-name media-stop
        span.i-code 0x277b
      .icon
        i.typcn.typcn-menu
        span.i-name menu
        span.i-code 0x277c
      .icon
        i.typcn.typcn-message
        span.i-name message
        span.i-code 0x277d
      .icon
        i.typcn.typcn-messages
        span.i-name messages
        span.i-code 0x277e
      .icon
        i.typcn.typcn-microphone
        span.i-name microphone
        span.i-code 0x277f
      .icon
        i.typcn.typcn-minus
        span.i-name minus
        span.i-code 0x2780
      .icon
        i.typcn.typcn-news
        span.i-name news
        span.i-code 0x2781
      .icon
        i.typcn.typcn-notes
        span.i-name notes
        span.i-code 0x2782
      .icon
        i.typcn.typcn-pen
        span.i-name pen
        span.i-code 0x2783
      .icon
        i.typcn.typcn-pencil
        span.i-name pencil
        span.i-code 0x2784
      .icon
        i.typcn.typcn-phone
        span.i-name phone
        span.i-code 0x2785
      .icon
        i.typcn.typcn-pi
        span.i-name pi
        span.i-code 0x2786
      .icon
        i.typcn.typcn-pin
        span.i-name pin
        span.i-code 0x2787
      .icon
        i.typcn.typcn-pipette
        span.i-name pipette
        span.i-code 0x2788
      .icon
        i.typcn.typcn-plane
        span.i-name plane
        span.i-code 0x2789
      .icon
        i.typcn.typcn-plug
        span.i-name plug
        span.i-code 0x278a
      .icon
        i.typcn.typcn-plus
        span.i-name plus
        span.i-code 0x278b
      .icon
        i.typcn.typcn-point-of-interest
        span.i-name point-of-interest
        span.i-code 0x278c
      .icon
        i.typcn.typcn-power
        span.i-name power
        span.i-code 0x278d
      .icon
        i.typcn.typcn-printer
        span.i-name printer
        span.i-code 0x278e
      .icon
        i.typcn.typcn-puzzle
        span.i-name puzzle
        span.i-code 0x278f
      .icon
        i.typcn.typcn-radar
        span.i-name radar
        span.i-code 0x2790
      .icon
        i.typcn.typcn-refresh
        span.i-name refresh
        span.i-code 0x2791
      .icon
        i.typcn.typcn-rss
        span.i-name rss
        span.i-code 0x2792
      .icon
        i.typcn.typcn-scissors
        span.i-name scissors
        span.i-code 0x2793
      .icon
        i.typcn.typcn-shopping-cart
        span.i-name shopping-cart
        span.i-code 0x2794
      .icon
        i.typcn.typcn-shopping-bag
        span.i-name shopping-bag
        span.i-code 0x2795
      .icon
        i.typcn.typcn-social-dribbble
        span.i-name social-dribbble
        span.i-code 0x2796
      .icon
        i.typcn.typcn-social-facebook
        span.i-name social-facebook
        span.i-code 0x2797
      .icon
        i.typcn.typcn-social-flickr
        span.i-name social-flickr
        span.i-code 0x2798
      .icon
        i.typcn.typcn-social-linkedin
        span.i-name social-linkedin
        span.i-code 0x2799
      .icon
        i.typcn.typcn-social-pinterest
        span.i-name social-pinterest
        span.i-code 0x279a
      .icon
        i.typcn.typcn-social-skype
        span.i-name social-skype
        span.i-code 0x279b
      .icon
        i.typcn.typcn-social-tumbler
        span.i-name social-tumbler
        span.i-code 0x279c
      .icon
        i.typcn.typcn-social-twitter
        span.i-name social-twitter
        span.i-code 0x279d
      .icon
        i.typcn.typcn-social-vimeo
        span.i-name social-vimeo
        span.i-code 0x279e
      .icon
        i.typcn.typcn-sort-alphabetically
        span.i-name sort-alphabetically
        span.i-code 0x279f
      .icon
        i.typcn.typcn-sort-numerically
        span.i-name sort-numerically
        span.i-code 0x27a0
      .icon
        i.typcn.typcn-spanner
        span.i-name spanner
        span.i-code 0x27a1
      .icon
        i.typcn.typcn-star
        span.i-name star
        span.i-code 0x27a2
      .icon
        i.typcn.typcn-stopwatch
        span.i-name stopwatch
        span.i-code 0x27a3
      .icon
        i.typcn.typcn-support
        span.i-name support
        span.i-code 0x27a4
      .icon
        i.typcn.typcn-tabs
        span.i-name tabs
        span.i-code 0x27a5
      .icon
        i.typcn.typcn-tag
        span.i-name tag
        span.i-code 0x27a6
      .icon
        i.typcn.typcn-tags
        span.i-name tags
        span.i-code 0x27a7
      .icon
        i.typcn.typcn-th-large
        span.i-name th-large
        span.i-code 0x27a8
      .icon
        i.typcn.typcn-th-list
        span.i-name th-list
        span.i-code 0x27a9
      .icon
        i.typcn.typcn-th-small
        span.i-name th-small
        span.i-code 0x27aa
      .icon
        i.typcn.typcn-thermometer
        span.i-name thermometer
        span.i-code 0x27ab
      .icon
        i.typcn.typcn-thumbs-down
        span.i-name thumbs-down
        span.i-code 0x27ac
      .icon
        i.typcn.typcn-thumbs-up
        span.i-name thumbs-up
        span.i-code 0x27ad
      .icon
        i.typcn.typcn-tick
        span.i-name tick
        span.i-code 0x27ae
      .icon
        i.typcn.typcn-ticket
        span.i-name ticket
        span.i-code 0x27af
      .icon
        i.typcn.typcn-time
        span.i-name time
        span.i-code 0x27b0
      .icon
        i.typcn.typcn-times
        span.i-name times
        span.i-code 0x27b1
      .icon
        i.typcn.typcn-trash
        span.i-name trash
        span.i-code 0x27b2
      .icon
        i.typcn.typcn-tree
        span.i-name tree
        span.i-code 0x27b3
      .icon
        i.typcn.typcn-upload
        span.i-name upload
        span.i-code 0x27b4
      .icon
        i.typcn.typcn-user-add
        span.i-name user-add
        span.i-code 0x27b5
      .icon
        i.typcn.typcn-user-delete
        span.i-name user-delete
        span.i-code 0x27b6
      .icon
        i.typcn.typcn-user
        span.i-name user
        span.i-code 0x27b7
      .icon
        i.typcn.typcn-video
        span.i-name video
        span.i-code 0x27b8
      .icon
        i.typcn.typcn-volume-mute
        span.i-name volume-mute
        span.i-code 0x27b9
      .icon
        i.typcn.typcn-volume-up
        span.i-name volume-up
        span.i-code 0x27ba
      .icon
        i.typcn.typcn-volume
        span.i-name volume
        span.i-code 0x27bb
      .icon
        i.typcn.typcn-voume-down
        span.i-name voume-down
        span.i-code 0x27bc
      .icon
        i.typcn.typcn-warning
        span.i-name warning
        span.i-code 0x27bd
      .icon
        i.typcn.typcn-watch
        span.i-name watch
        span.i-code 0x27be
      .icon
        i.typcn.typcn-waves
        span.i-name waves
        span.i-code 0x27bf
      .icon
        i.typcn.typcn-weather-cloudy
        span.i-name weather-cloudy
        span.i-code 0x27c0
      .icon
        i.typcn.typcn-weather-downpour
        span.i-name weather-downpour
        span.i-code 0x27c1
      .icon
        i.typcn.typcn-weather-night
        span.i-name weather-night
        span.i-code 0x27c2
      .icon
        i.typcn.typcn-weather-partly-sunny
        span.i-name weather-partly-sunny
        span.i-code 0x27c3
      .icon
        i.typcn.typcn-weather-shower
        span.i-name weather-shower
        span.i-code 0x27c4
      .icon
        i.typcn.typcn-weather-snow
        span.i-name weather-snow
        span.i-code 0x27c5
      .icon
        i.typcn.typcn-weather-stormy
        span.i-name weather-stormy
        span.i-code 0x27c6
      .icon
        i.typcn.typcn-weather-sunny
        span.i-name weather-sunny
        span.i-code 0x27c7
      .icon
        i.typcn.typcn-weather-windy-cloudy
        span.i-name weather-windy-cloudy
        span.i-code 0x27c8
      .icon
        i.typcn.typcn-weather-windy
        span.i-name weather-windy
        span.i-code 0x27c9
      .icon
        i.typcn.typcn-wi-fi
        span.i-name wi-fi
        span.i-code 0x27ca
      .icon
        i.typcn.typcn-wine
        span.i-name wine
        span.i-code 0x27cb
      .icon
        i.typcn.typcn-world
        span.i-name world
        span.i-code 0x27cc
      .icon
        i.typcn.typcn-zoom-in
        span.i-name zoom-in
        span.i-code 0x27cd
      .icon
        i.typcn.typcn-zoom-out
        span.i-name zoom-out
        span.i-code 0x27ce
      .icon
        i.typcn.typcn-zoom
        span.i-name zoom
        span.i-code 0x27cf
