include icons

.copy
  h3 Typicons are free-to-use vector icons embedded in a webfont for easy use in your user interfaces, whether it be on the web or in a native application.


  p The set of icons are available on Github, with everything included from the source files in SVG format to the minifed CSS. You can even use this project to build your own custom version of Typicons! Find out more 
    a(href='/more/making-typicons/') here.

  p This version greatly improves Typicons, with the addition on 220 icons with solid and outline styles and Github hosting of the source content. So what are you waiting for? Combine HTTP requests with a retina ready, resolution independent, screen-reader-friendly webfont.