include icons

.copy
  h3 Typicons are free-to-use vector icons embedded in a webfont for easy use in your user interfaces, whether it be on the web or in a native application.

  p Typicons save space and time by pairing a vector icon to a unicode character. Then, using the CSS3 pseudo-element ::before, the appropriate characters are bound to their respective classes (eliminating the need to remember the correct index of each icon).

  p The two sets of icons are available on Github, with everything included from the source files in SVG format to the minifed CSS. You can even use this project to build your own version of custom version of Typicons! Find out more 
    a(href='/more/making-typicons/') here.

  p Version 2 greatly improves Typicons, with the addition on 104 icons, an extra weight and Github hosting of the source content.