!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      link(rel='shortcut icon', href='/favicon.ico', type='image/icon')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Questrial')
      link(rel='stylesheet', href='/media/css/style.css')
      link(rel='stylesheet', href='/media/css/github.css')
      link(rel='stylesheet', href='/media/css/typicons.css')
      script(src='/media/js/zepto.min.js')
      script(src='/media/js/script.js')
  body   

    header#header
      a(href='/')
        h1
          =locals.name
          small.sub v2.0
        p.desc= locals.description

      a#download.btn(href='/resources/typicons.2.0.zip')
        span.typcn.typcn-download
        | Download

      block header

        
    #content
      #content-inner
        include nav
        block content
          h2 Welcome to zombocom!

        include carbon

        footer
          block footer
          include footer